<% provide(:title, "Ingresar") %>
<h1>Ingresar</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.submit "Aceptar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>¿Nuevo Usuario? <%= link_to "Unirse a la comunidad!", signup_path %></p>
  </div>
</div>
