<% provide(:title, 'Crear mi cuenta') %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, :html => { :class => "form-vertical" }) do |f| %>
    <fieldset>
        <legend>Crear mi cuenta</legend>
    
        <%= render 'shared/error_messages' %>
        
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirma Contraseña" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Crear mi cuenta", class: "btn btn-large btn-primary" %>
      </fieldset>
    <% end %>
  </div>
</div>
