<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :stadium_id %><br>
    <%= f.number_field :stadium_id %>
  </div>
  <div class="field">
    <%= f.label :team_home_id %><br>
    <%= f.number_field :team_home_id %>
  </div>
  <div class="field">
    <%= f.label :team_visitor_id %><br>
    <%= f.number_field :team_visitor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
