<%= semantic_form_for @game do |f| %>
<fieldset>
    <legend>Crear Juego</legend>

    <%= f.semantic_errors %>
    <%= f.inputs do %>
        <div id="datetimepicker" class="input-append date">
        <%= f.input :start_at, :as => :string, 
            :input_html => {
                "data-format" => "dd/MM/yyyy HH:mm:ss PP",  
                "data-behaviour" => "datetimepicker"}  
         %>
         <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>            
         </div>
        <%= f.input :stadium %>
        <%= f.input :team_home %>
        <%= f.input :team_visitor %>
    <% end %>
    <%= f.actions do %>
        <%= f.action :submit,:button_html => { :class => "btn btn-large btn-primary"} %>        
    <% end %>
</fieldset>
<% end %>
